.hotelBg{
    position: relative;
    overflow: hidden;
    background-image: url("./bgImages/home-banner.png");
    margin-top: none;
    width: 1920px;
    height:300px;
    padding: none;
    background-position: 0px;
    /* animation: bgMove 60s linear infinite; */
    animation: zoom-in-zoom-out 20s ease infinite
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1);
    }
    100% {
      transform: scale(1, 1);
    }
  }