.imageContainer{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img1{
    margin: 1rem;
    height: 280px;
}

.img1 {
  width: 28%;
  height: 28%;
  /* margin: o.3rem; */
  transition: transform 0.3s ease-in-out;
}

.img1:hover {
  transform: scale(1.1);
}

.img2{
    margin: 1rem;
height: 220px;
}