.nav-icon-container{
    border:1px solid rgb(30, 2, 94);
    background-color: rgb(30, 2, 94);
}

.nav-icons-wrap {
    display: flex;
    justify-content: space-around;
    color: #fff;
}
.nav-icons-wrap li {
    list-style: none;
    /* width: 2.3rem; */
    text-align: center;
    position: relative;}
.liItem{
    font-size: 30px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    transition: transform 1000ms;
}
.liItem:hover{
  transform: translateY(-1.75rem);
  /* transition: transform 250ms; */
}
.nav-icons-wrap li:hover{
  color: gold;
}
/* .irctComp:hover{
  color: gold;
} */