.extraInfoContainer{
    /* border: 1px solid red; */
    width: 100%;
    height: 400px;
    background-color: rgb(5, 5, 92);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
}
li{
    list-style: none;
    font-size: 14px;
    padding: 3px;
}


.footer{
    height: 90px;
    display: flex;
    justify-content: space-evenly;
}

.iconContainer{
    color: aliceblue;
}

.icon{
    padding: 10px;
    font-size: 25px;
    margin: 3px;
    border-radius: 50%;
}

.logos{
    color:black;
    height:50px;
}