.loginMainContainer{
    box-shadow: 4px 4px 4px 0 #edf4f5, 0 4px 8px 4px #edf4f5;
    width: 30vw;
    height: 60vh;
    /* position:fixed; */
}

.loginSubContainer{
    margin:2rem 2.5rem;
    padding: 8px;
    /* border: 1px solid grey; */
    box-shadow: 4px 4px 4px 0 #edf4f5, 0 4px 8px 4px #edf4f5;
    width: 80%;
    display: flex;
   
    justify-content: space-around;
    align-items: center;
}
.logButton{
  border: none;
  background-color: #fff;
  padding: 0.5rem;
}

.logButton:hover{
    background-color: gold;
    color: #fff;
}
.inputContent{
    font-weight: 600;
    /* padding: 1rem auto ; */
}
.loginInputContainer{
    margin: auto 2rem;
}
.name{
    width: 90%;
    height: 1.5rem;
    margin: 0.3rem auto;
    margin-bottom: 0.8rem;
}

.loginbtn{
    padding: 0.6rem;
    margin: auto 40%;
}